@import "./../../../page/admin.component.scss";

.shadow {
    -webkit-box-shadow: 0px -22px 77px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 0px -22px 77px 0px rgba(0,0,0,0.75);
box-shadow: 0px -22px 77px 0px rgba(0,0,0,0.75);
}