<div id="main">
    <div class="login-box">
        <h2>Iniciar sesion</h2>
        <form>
          <div class="user-box">
            <input type="text" name="" required="">
            <label>Usuario</label>
          </div>
          <div class="user-box">
            <input type="password" name="" required="">
            <label>Contrase.</label>
          </div>
          <div id="btn-cont"> 
            <a href="#">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                Iniciar Sesion
              </a>
          </div>
        </form>
      </div>
</div>