
<div class="main">
    <div id="contact-form">
        <div>
            <h1 class="text-white">Bienvenido!</h1> 
            <h4 class="text-white">Si tienes una duda no dudes en contactarnos.</h4> 
        </div>
            <p id="failure">Mensaje no enviado</p>  
            <p id="success">Mensaje enviado exitosamente</p>
    
               <form method="post" action="/">
                <div>
                  <label for="name">
                      <span class="required">Nombre: *</span> 
                      <input type="text" id="name" name="name" value="" placeholder="Tu nombre" required="required" tabindex="1" autofocus="autofocus" />
                  </label> 
                </div>
                <div>
                  <label for="email">
                      <span class="required">Correo: *</span>
                      <input type="email" id="email" name="email" value="" placeholder="Tu correo" tabindex="2" required="required" />
                  </label>  
                </div>
                <div>		          
                  <label for="subject">
                  <span class="text-white">Motivo: </span>
                      <select id="subject" name="subject" tabindex="4">   
                         <option value="hello">Precio de Productos</option>
                         <option value="quote">Politicas de Reembolso</option>  
                         <option value="general">Politica de referidos</option>
                         <option value="general">Otros</option>
                      </select>
                  </label>
                </div>
                <div>		          
                  <label for="message">
                      <span class="required">Mensaje: *</span> 
                      <textarea id="message" name="message" placeholder="Mensaje o descripcion" tabindex="5" required="required"></textarea> 
                  </label>  
                </div>
                <div>		           
                  <button name="submit" type="submit" id="submit" >SEND</button> 
                </div>
               </form>
    
        </div>
</div>